.app-container{
display:flex;
min-height:100vh;
background:#020617;
overflow:hidden;
position:relative;
}


.main-content{

margin-left:290px;

padding:40px;

width:100%;

min-height:100vh;


background:

radial-gradient(circle at top left,
rgba(99,102,241,.15),
transparent 40%),


radial-gradient(circle at bottom right,
rgba(59,130,246,.15),
transparent 40%),


#020617;

position:relative;

overflow:auto;

}


/* purple glow */

.main-content::before{

content:"";


position:fixed;


top:-250px;


right:-250px;


width:700px;


height:700px;


border-radius:50%;



background:


#7c3aed;



filter:


blur(260px);



opacity:.18;



z-index:-1;

}



/* blue glow */


.main-content::after{

content:"";


position:fixed;


bottom:-250px;


left:-250px;


width:700px;


height:700px;


border-radius:50%;



background:


#2563eb;



filter:


blur(260px);



opacity:.15;



z-index:-1;


}